header{
    background-color: #a6d3e2;
    top: 0px;
    width: 100%;
    margin-left: auto; /* устанавливает внешний отступ слева от элемента*/
    margin-right: auto;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #fee6c4;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; /*выравнивание текста*/
}

footer{
    background-color: #88b6c5;
    font-size: 18px;
}


h1, h2, h3, p, td{
    color: #3e2d26;
}

h1{
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3{
    font-size: 20px;
}

A{
    color: #40859c;
}

A:visited{
    color: #52409c;
}

A:active{
    color: #9c4040;
}

#catalog_cat{
    font-size: 40px;
}

#main_search{
    font-size: 25px;
    text-align: right;
}